<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="DefaultLayout" value="${time} ${level:uppercase=true}: ${message} ${onexception:inner=${newline}${exception:format=Message,Type,Method,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Type,Method,StackTrace}}"/>
  <targets>
    <target xsi:type="File" name="file" layout="${DefaultLayout}" fileName="${basedir}/logs/${shortdate}.log" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
